﻿@page "/"


<h3>VotingWidget Stars: @votedStars</h3>
@*<VotingWidget StarsMaxCount="5" GoodLevel="3" ></VotingWidget>*@

<VotingWidgetServerSideCalc StarsMaxCount="5" GoodLevel="3" @bind-Stars=@votedStars></VotingWidgetServerSideCalc>

@code{
	protected int votedStars=2;

}