﻿<base href="~/" />
<head>
	<style>
		.stars {
			float: left;
			border-style: none;
			overflow: hidden;
			vertical-align: bottom;
			display: inline-block;
			height: 30px;
			padding: 0 0;
			width: auto;
		}

		.stars > input {
			display: none;
		}

		.stars > input ~ label {
			
			cursor: pointer;
			position: relative;
			display: block;
			float: right;
			opacity: 1;

			width: 30px;
			height: 30px;

			padding: 0 0;
			margin: 0 0;
			border: none;

			background: url('starOff.png');
			background-size: 30px 30px;
		}

		.stars > input:not(:checked) ~ label {
			content: none;
			background: url('starOff.png');
			background-size: 30px 30px;
		}

		.stars > input:checked ~ label {
			content: none;
			background: url('starOn.png');
			background-size: 30px 30px;
		}

		
	</style>
</head>

<body>

	<div id="starsRating" class="stars">
		@for (var i = StarsMaxCount; i > 0; i--)
		{
			int id = i;

			<input type="checkbox" id=@(id+"-star")
				   checked=@(starsState[id])
				   @onchange="((e)=>onVote(id,e))" />
			<label for=@(id+"-star") class="starLabel" title=@((Stars >= GoodLevel) ? "Good" : "")></label>

		}
	</div>
</body>
@code {

	[Parameter]
	public int Stars { get; set; } = 2;
	[Parameter]
	public EventCallback<int> StarsChanged { get; set; }

	[Parameter]
	public int StarsMaxCount { get; set; } = 5;

	[Parameter]
	public int GoodLevel { get; set; } = 3;



	public bool[] starsState;

	protected override void OnInitialized()
	{
		starsState = new bool[StarsMaxCount + 1];//n+1 element to use the same id as star id
		RefreshStarStatus();

	}
	protected void RefreshStarStatus()
	{
		for (int i = 0; i <= StarsMaxCount; i++)
		{
			starsState[i] = i <= Stars;
		}
	}

	protected async Task onVote(int id, ChangeEventArgs e)
	{
		int newValue = id;
		if (!((Boolean)e.Value))
			newValue = id - 1;

		Stars = newValue;
		RefreshStarStatus();

		await StarsChanged.InvokeAsync(Stars);

		StateHasChanged();
	}
}