﻿<head>

	<style>
			.stars {
				float: left;
				border-style: none;
			}

			.stars:not(:checked) > input {
				position: absolute;
				top: -9999px;
				clip: rect(0,0,0,0);
			}

			.stars:not(:checked) > label {
				float: right;
				cursor: pointer;
				font-size: 400%;
				color: lightgrey;
			}

			.stars:not(:checked) > label:before {
				content: '★ ';
			}

			.stars > input:checked ~ label {
				color: gold;
			}

			.stars:not(:checked) > label:hover,
			.stars:not(:checked) > label:hover ~ label {
				color: gold;
			}

			.stars > input:checked + label:hover,
			.stars > input:checked + label:hover ~ label,
			.stars > input:checked ~ label:hover,
			.stars > input:checked ~ label:hover ~ label,
			.stars > label:hover ~ input:checked ~ label {
				color: gold;
				text-shadow: 1px 1px goldenrod;
			}

			.stars > label:active {
				position: relative;
				top: 2px;
				left: 2px;
			}
	</style>
</head>
<body>
	<ul id="starsRating" class="stars">
		@for (var i = StarsMaxCount; i > 0; i--)
		{
			int id = i;

			<input type="radio" id=@(id+"-star") name="rating"
				   value=@(id <= Stars)
				   @onclick="@(e => Vote(id))" />
			<label for=@(id+"-star") title=@((Stars >= GoodLevel) ? "Good" : "")></label>
		}
	</ul>
</body>
@code {

	[Parameter]
	public int Stars { get; set; } = 2;

	[Parameter]
	public int StarsMaxCount { get; set; } = 5;

	[Parameter]
	public int GoodLevel { get; set; } = 3;

	protected void Vote(int value)
	{
		Stars = value;
	}

}